.nav-button{
    text-decoration: none;
    color: black;
    padding: 20px 50px;
}
nav{
    width: 100%;
    border: 1px solid rgb(180, 180, 180);
    height: 50px;
    align-content: center;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    background-color: white;
    z-index: 3;

}

.content{
    display: flex;
    overflow-y: auto;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 70px;
}

body{
    margin: 0%;
    padding: 0%;
}

.new-sth-btn{
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 35vh;
}
.hidden{
    display: none;
}
.showed{
    display: block;
}
#plus-btn{
    padding: 20px 25px;
    position: fixed;  
    bottom: 20px;    
    right: 130px; 
}

#start-test-btn{
    padding: 20px 25px;
    position: fixed;  
    bottom: 20px;    
    right: 20px; 
}


.definition{
    width: 300px;
    height: 25px;
    border: solid 1px black;
    border-radius: 7px;
    resize: none;
}
.description{
    width: 300px;
    height: 200px;
    border: solid 1px black;
    border-radius: 7px;
    resize: none;
}

.q-block{
    width: 300px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;

}
.hidden-block{
    display: none;
}
.test-area{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    z-index: 2;
    overflow-y: auto;
    width: 100%;
    padding-top: 70px;
    
}
.test-area-flex{
    display: flex;
    flex-wrap: wrap;


}
/* .test-description{
    display: flex;
} */

.test-description-block{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 300px;         /* Ширина блока */
    word-wrap: break-word; /* Перенос длинных слов */
    overflow: hidden;     /* Скрытие излишков, если нужно */
    box-sizing: border-box; /* Учитывать отступы внутри блока */
}
.test-description-block:hover{
    background-color: #e4e4e4;
}

.defintion-answer-flex{
    display: inline;

}
.defintion-answer{
    width: 100%;
    height: 100px;
    position: fixed;
        bottom: 0px;
    background-color: rgb(228, 228, 228);
    z-index: 4;
    justify-content: center;
    align-items: center;
}

.mistake-alert-flex{
    display: flex;

}
.mistake-alert{
    width: 100%;
    height: 100%;
    background-color: #888888c3;
    position: absolute;
    z-index: 4;
    justify-content: center;
    align-items: center;
}

.mistake-block{
    width: 500px;
    height: 500px;
    background-color: white;
}

#x-btn{
    width: 25px;
    height: 25px;
    margin-left: 200px;
}
